<!DOCTYPE html>  
<html>  
<head>  
    <title>Add Student Records</title>  
</head>  
<body>  
    <h2>Student Information</h2>   
    <form action = "/savedetails" method="post">  
    <table>  
        <tr><td>Name</td><td><input type="text" name="name"></td></tr>  
        <tr><td>Roll No</td><td><input type="email" name="roll"></td></tr>  
        <tr><td>Email</td><td><input type="text" name="email"></td></tr>
        <tr><td>Marks_short</td><td><input type="integer" name="marks_short"></td></tr> 
        <tr><td>Marks_descriptive</td><td><input type="integer" name="marks_desc"></td></tr>   
        <tr><td><input type="submit" value="Submit"></td></tr>  
    </table>  
    </form>  
</body>  
</html> 